/*=============== BUTTONS ===============*/
.button ,
.btn {
    display: inline-block;
	font: normal normal var(--font-normal-weight) 24px/31px var(--accent-font);
    background-color: var(--bg-accent-color);
    color: var(--text-accent-color); // Use color black for yellow
    padding: 1.5rem;
    border-radius: 100px; 
    transition: .3s;
	text-transform: uppercase;
    
    &:hover{
        background-color: var(--first-color-alt);
    }

    &__header{
        display: none;
    }

    &-link{
        background: none;
        padding: 0;
        color: var(--title-color);

        &:hover{
            background-color: transparent;
        }
    }

    &-flex{
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        padding: .75rem 1rem;
    }

    &__icon{
        font-size: 1.5rem;
    }
}