/*=============== CONTACT ===============*/
.contact{
    &__container{
        padding-bottom: 3rem;
    }
    &__description{
        text-align: center;
    }
    &__content{
        row-gap: .75rem;
    }
    &__address{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &__information{
        font-weight: initial;
        color: var(--text-color);
    }
	.contact_form {
		width: 100%;
		#myFormr, #formr {
			.form-control {
				border-radius: 10px;
				margin-bottom: 5px;
				font-family: var(--body-font);
				font-size: var(--normal-font-size);
				height: 68px;
			}
			#nachricht {
				height:auto;
				min-height: 200px;
			}
			.mb-3 {
				margin-bottom: 1rem;
			}
		}
	}
}