/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 4.5rem 0 1rem;
}

/*=============== LAYOUT ===============*/
.container{
    max-width: 1500px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
	justify-items: center;
    gap: 1.5rem;
}